html
{
    height: 100%;
}

body
{
    font-family: 'PT Sans', sans-serif;
    height: 100%;
    overflow: auto;
}

/* style for nav-bar */
.nav
{
    font-size: large;
}

/* style for images in index */
.heading-container
{
    background-color: #e6eff8;
    margin: 30px 0px;
}

.heading-container h3
{
    font-weight: 600;
    text-align: center;
    padding: 25px;
}

.flex-box
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
}

.flex-box img
{
    height: 250px;
    margin: 20px 50px ;
}

/* style for footer */
.footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111111;
    color: #ffffff;
    position: relative;
    width: 100%;
    bottom: 0;
}

.footer p
{
    margin: 4px 2px;
}

/* style for link in footer */
p a:link
{
    color: green;
    text-decoration: underline rgba(0, 128, 0, 0.25);


}

p a:hover
{
    text-decoration: underline rgba(0, 128, 0);
}

/* Add animations to images. */
.myPhotos
{
    padding: 10px;
    background-color: initial;
    border: 2px solid transparent;
    border-radius: 3px;
    box-sizing: border-box;
    transform: scale(0.9);
    transition: all 250ms;    
}

.myPhotos:hover
{
    cursor: pointer;
    border: 2px solid red;
}

.anim {
    animation-name: zoom;
    animation-duration: 1s;
}

@keyframes zoom {
    50% {
        transform: scale(1.1);
    }
}